script(src='javascripts/lib/jquery-2.0.3.min.js')
script(src='javascripts/lib/angular.js')
script(src='javascripts/lib/socket.io.js')
script(src='javascripts/lib/spin.min.js')

script(src='javascripts/angular-init.js')
script(src='javascripts/services/socketModule.js')
script(src='javascripts/controllers.js')
script(src='javascripts/router.js')
